@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 120 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 120 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 120 25% 15%;
    --primary: 147 50% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 25% 94%;
    --secondary-foreground: 120 25% 15%;
    --muted: 120 25% 94%;
    --muted-foreground: 120 25% 45%;
    --accent: 120 25% 90%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 20% 88%;
    --input: 120 20% 92%;
    --ring: 147 50% 40%;
    --radius: 0.5rem;
    --chart-1: 147 50% 40%;
    --chart-2: 147 50% 60%;
    --chart-3: 120 25% 40%;
    --chart-4: 120 25% 60%;
    --chart-5: 120 25% 80%;
  }

  .dark {
    --background: 120 25% 10%;
    --foreground: 0 0% 95%;
    --card: 120 25% 12%;
    --card-foreground: 0 0% 95%;
    --popover: 120 25% 10%;
    --popover-foreground: 0 0% 95%;
    --primary: 147 50% 49%;
    --primary-foreground: 0 0% 10%;
    --secondary: 120 25% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 120 25% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 120 25% 25%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 25% 25%;
    --input: 120 25% 25%;
    --ring: 147 50% 55%;
    --chart-1: 147 50% 49%;
    --chart-2: 120 25% 65%;
    --chart-3: 120 25% 40%;
    --chart-4: 60 56% 80%;
    --chart-5: 88 39% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .font-tamil {
    --font-family-body: "Noto Sans Tamil";
    --font-family-headline: "Noto Sans Tamil";
  }
  .font-english {
      --font-family-body: "Roboto";
      --font-family-headline: "Roboto";
  }
}
